<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/province.css">
    <script src="../src/js/echarts.js "></script>
    <script src="../src/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="title">
        <h1>城市数据分析系统</h1>
        <ul id="nav">
            <li class="nav-item"><a href="#">信息总览</a></li>
            <li class="nav-item"><a href="./index.html">省市指标</a></li>
            <li class="nav-item"><a href="./province.html">详细特征</a></li>
        </ul>
    </div>
    <div id="data">
        <div id="data-top">
            <div id="data-top-left">
                <div class="select-box">
                    <label>级别：</label>
                    <ul id="area-select">
                        <li class="active" data-value="1">省份</li>
                        <li data-value="2">城市</li>
                    </ul>
                </div>
                <div class="data-select select1">
                    <label>地区：</label>
                    <div class="select" tabindex="0">
                        <div class="select-div">北京市</div>
                        <ul class="select-ul province">
                            <li class="active" data-value="1">北京市</li>
                            <li data-value="2">天津市</li>
                            <li data-value="3">河北省</li>
                            <li data-value="4">山西省</li>
                            <li data-value="5">内蒙古自治区</li>
                            <li data-value="6">辽宁省</li>
                            <li data-value="7">吉林省</li>
                            <li data-value="8">黑龙江省</li>
                            <li data-value="9">上海市</li>
                            <li data-value="10">江苏省</li>
                            <li data-value="11">浙江省</li>
                            <li data-value="12">安徽省</li>
                            <li data-value="13">福建省</li>
                            <li data-value="14">江西省</li>
                            <li data-value="15">山东省</li>
                            <li data-value="16">河南省</li>
                            <li data-value="17">湖北省</li>
                            <li data-value="18">湖南省</li>
                            <li data-value="19">广东省</li>
                            <li data-value="20">广西壮族自治区</li>
                            <li data-value="21">海南省</li>
                            <li data-value="22">重庆市</li>
                            <li data-value="23">四川省</li>
                            <li data-value="24">贵州省</li>
                            <li data-value="25">云南省</li>
                            <li data-value="26">西藏自治区</li>
                            <li data-value="27">陕西省</li>
                            <li data-value="28">甘肃省</li>
                            <li data-value="29">青海省</li>
                            <li data-value="30">宁夏回族自治区</li>
                            <li data-value="31">新疆维吾尔自治区</li>
                        </ul>
                        <ul class="select-ul city">
                            <li class='active' data-value="1">北京</li>
                            <li data-value="2">天津</li>
                            <li data-value="3">石家庄</li>
                            <li data-value="4">太原</li>
                            <li data-value="5">呼和浩特</li>
                            <li data-value="6">沈阳</li>
                            <li data-value="7">大连</li>
                            <li data-value="8">长春</li>
                            <li data-value="9">哈尔滨</li>
                            <li data-value="10">上海</li>
                            <li data-value="11">南京</li>
                            <li data-value="12">杭州</li>
                            <li data-value="13">宁波</li>
                            <li data-value="14">合肥</li>
                            <li data-value="15">福州</li>
                            <li data-value="16">厦门</li>
                            <li data-value="17">南昌</li>
                            <li data-value="18">济南</li>
                            <li data-value="19">青岛</li>
                            <li data-value="20">郑州</li>
                            <li data-value="21">武汉</li>
                            <li data-value="22">长沙</li>
                            <li data-value="23">广州</li>
                            <li data-value="24">深圳</li>
                            <li data-value="25">南宁</li>
                            <li data-value="26">海口</li>
                            <li data-value="27">重庆</li>
                            <li data-value="28">成都</li>
                            <li data-value="29">贵阳</li>
                            <li data-value="30">昆明</li>
                            <li data-value="31">拉萨</li>
                            <li data-value="32">西安</li>
                            <li data-value="33">兰州</li>
                            <li data-value="34">西宁</li>
                            <li data-value="35">银川</li>
                            <li data-value="36">乌鲁木齐</li>
                        </ul>
                    </div>
                </div>
                <div class="data-select select2">
                    <label>年份：</label>
                    <div class="select" tabindex="0">
                        <div class="select-div">2017</div>
                        <ul class="select-ul year">
                            <li class="active" data-value="1">2017</li>
                            <li data-value="2">2016</li>
                            <li data-value="3">2015</li>
                            <li data-value="4">2014</li>
                            <li data-value="5">2013</li>
                            <li data-value="6">2012</li>
                            <li data-value="7">2011</li>
                            <li data-value="8">2010</li>
                            <li data-value="9">2009</li>
                            <li data-value="10">2008</li>
                            <li data-value="11">2007</li>
                            <li data-value="12">2006</li>
                            <li data-value="12">2005</li>
                            <li data-value="13">2004</li>
                            <li data-value="14">2003</li>
                            <li data-value="15">2002</li>
                            <li data-value="16">2001</li>
                            <li data-value="17">2000</li>
                            <li data-value="18">1999</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="data-top-center">
                <div class="icondiv">
                    <img src="../src/img/show.png" class="icon">
                    <img src="../src/img/title1.png" class="title1">
                    <img src="../src/img/title2.png" class="title2">
                    <div class="iconword1">城市数据</div>
                    <div class="iconword2">分析系统</div>
                </div>
                <div id="build"></div>
            </div>
            <div id="data-top-right"></div>
        </div>
        <div id="data-bottom">
            <div id="data-bottom-left"></div>
            <div id="data-bottom-center"></div>
            <div id="data-bottom-right"></div>
        </div>
    </div>
    <script src="../src/js/myEchart.js"></script>
    <script src="../src/js/init2.js"></script>
    <script src="../src/js/select2.js"></script>
</body>
</html>