html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 635px;
    font-family: "microsoft yahei", arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

body,h1,h2,h3,h4,h5,h6,p,ol,ul{
    margin: 0;
    padding: 0;
}

ol,ul,li{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    position: relative;
    background: url(../img/bg.jpg) fixed;
}

.title{
    width: 100%;
    height: 60px;
    background: url(../img/header.png) no-repeat;
    background-size: 100% 100%;
    background-position-y:8px; 
    text-align: center;
    padding-top: 5px;
}

h1 {
    font-size: 22px;
    color: rgb(127, 204, 255);
    padding-top:8px;
}

#nav{
    position: absolute;
    font-size: 18px;
    top: 48px;
    right: 90px;
}

#nav li a{
    display: inline-block;
    width: 100px;
    height: 34px;
    line-height: 34px;
    margin-right: 20px;
    border-radius: 4px;
    cursor:pointer;
    color: rgb(128, 203, 253);
}

#nav li{
    float: left;
}

#nav li a:hover{
    color: rgb(252, 252, 252);
    background: rgb(56, 150, 209)
}

#data{
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* margin-top: 20px; */
    box-sizing: border-box;
}

#data-top{
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 20px;
}

#data-top-left, #data-top-right{
    /* max-width: 400px; */
    margin: 0 40px;
    flex-grow: 1;
    width: 420px;
    height: 270px;
    background: url(../img/border2.png);
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 20px;
}

#data-top-left{
    padding: 60px 80px;
}

.city{
    display: none;
}

#data-top-center{
    flex-grow: 1;
    margin: 0 40px;
    width: 420px;
    height: 270px;
    position: relative;
    padding: 10px;
}

#data-bottom{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-top: 40px;
}

#data-bottom-left, #data-bottom-center, #data-bottom-right{
    margin: 0px 40px;
    flex-grow: 1;
    height: 270px;
    width: 420px;
    background: url(../img/border2.png);
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.icondiv{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 26px;
    text-shadow:5px 5px 30px #DBDBDB;
    z-index: 10;
}

.icon{
    height: 70px;
    width: 70px;
    animation: rotate 6s infinite linear;
    transition: all .6s;
    position: absolute;
    left: 53px;
    top: 4px;
    z-index: 30;
}

@keyframes rotate {
    100% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.iconword1{
    position: absolute;
    top: 3px;
    right: 202px;
}

.iconword2{
    position: absolute;
    top: 36px;
    left: 245px;
}

.title1{
    height: 18px;
    width: 280px;
    position: absolute;
    right: 65px;
}

.title2{
    height: 18px;
    width: 280px;
    position: absolute;
    top:55px;
    left: 115px;
}

#build{
    width: 100%;
    height: 100%;
}

/** 滚动条 **/

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background-color: rgb(66, 109, 138);
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(139, 166, 216, 0.753);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(113, 150, 219, 0.753);
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(113, 150, 219, 0.753);
}


/* 下拉框 */

.data-select{
    display: flex;
    align-items: center;
}

label{
    font-size: 18px;
    color: #9bc1ff;
}

.select {
    width: 180px;
    height: 30px;
    position: relative;
    font-size: 17px;
    color: #cdddf7;
    outline: none;
}

.select-div {
    box-sizing: border-box;
    width: 180px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #0E94EA;
    background: url(../img/arrow.png) 95% center no-repeat;
    padding-left: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    color: #cdddf7;
}

.select-ul {
    position: absolute;
    width: 180px;
    top: 32px;
    left: 0;
    z-index: 10;
    display: none;
    height: 120px;
    overflow-y: auto;
}

.select-ul>li {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: rgb(80, 135, 170);
    cursor: pointer;
    color: #ffffff;
}

.select-ul>li.active,
.select-ul>li:hover {
    color: white;
    background: #0e94eb;
}

.select-ul>li {
    width: 180px;
}

.select1 .select-div, .select1 .select,.select1 .select-ul,.select1 .select-ul>li{
    width: 180px;
}

.select2 .select-div, .select2 .select,.select2 .select-ul,.select2 .select-ul>li{
    width: 140px;
}

.select1{
    margin-top: 30px;
}
.select2{
    margin-top: 30px;
}

.select-box{
    height: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#area-select{
    width: 128px;
    height: 30px;
}

#area-select li{
    width: 64px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #cdddf7;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0e94eb;
    box-sizing: border-box;
}
#area-select li.active{
    color: white;
    background: #0e94eb;
}

.city{
    display:none;
}
