html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 635px;
    font-family: "microsoft yahei", arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* overflow: hidden; */
}

body,h1,h2,h3,h4,h5,h6,p,ol,ul{
    margin: 0;
    padding: 0;
}
ol,ul,li{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    position: relative;
    background: url(../img/bg.jpg) fixed;
}

.title{
    width: 100%;
    height: 60px;
    background: url(../img/header.png) no-repeat;
    background-size: 100% 100%;
    background-position-y:8px; 
    text-align: center;
    padding-top: 5px;
    /* position: fixed; */
}

h1 {
    font-size: 22px;
    color: rgb(127, 204, 255);
    padding-top:8px;
}

#nav{
    position: absolute;
    font-size: 18px;
    top: 48px;
    right: 90px;
}

#nav li a{
    display: inline-block;
    width: 100px;
    height: 34px;
    line-height: 34px;
    margin-right: 20px;
    border-radius: 4px;
    cursor:pointer;
    color: rgb(128, 203, 253);
}

#nav li{
    float: left;
}

#nav li a:hover, #nav li a.active{
    color: rgb(252, 252, 252);
    background: rgb(56, 150, 209)
}

#data{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 15px;
}

.data-left{
    margin: 10px;
    flex-grow: 6;
    background: url(../img/border3.png);
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
}

#chart-select{
    display: flex;
    justify-content: right;
    position: absolute;
    top: 60px;
    right: 110px;
    z-index: 90;
}

#chart-select img{
    height: 27px;
    width: 27px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 2px;
}

#chart-select img:hover{
    background: rgba(160, 219, 255, 0.281);
}

#chart-select img.active{
    background: rgba(160, 219, 255, 0.281);
}

#chart-area{
    width: 100%;
    height: 100%;
}

.data-right{
    margin: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 440px;
}

.data-right-top, .data-right-bottom{
    margin: 0 20px;
    flex-grow: 1;
    height: 290px;
    background: url(../img/border2.png);
    background-size: 100% 100%;
    box-sizing: border-box;
}

.data-right-top{
    padding: 70px 60px;
}

.data-right-bottom{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    padding: 36px 50px;
}

.data-right-bottom h4{
    margin-bottom: 8px;
    color: #afceff;
}

.data-right-bottom p{
    font-size: 15px;
    color: #b7d0f8;
    text-indent:30px;
    word-wrap: break-word;
}

/** 滚动条 **/

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background-color: rgb(66, 109, 138);
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(139, 166, 216, 0.753);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(113, 150, 219, 0.753);
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(113, 150, 219, 0.753);
}


/* 下拉框 */

.data-select{
    display: flex;
    align-items: center;
}

label{
    font-size: 18px;
    color: #9bc1ff;
}

.select {
    width: 180px;
    height: 30px;
    position: relative;
    font-size: 17px;
    color: #cdddf7;
    outline: none;
}

.select-div {
    box-sizing: border-box;
    width: 180px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #0E94EA;
    background: url(../img/arrow.png) 95% center no-repeat;
    padding-left: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    color: #cdddf7;
}

.select-ul {
    position: absolute;
    width: 180px;
    top: 32px;
    left: 0;
    z-index: 10;
    display: none;
    height: 120px;
    overflow-y: auto;
}

.select-ul>li {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: rgb(80, 135, 170);
    cursor: pointer;
    color: #ffffff;
}

.select-ul>li.active,
.select-ul>li:hover {
    color: white;
    background: #0e94eb;
}

.select-ul>li {
    width: 180px;
}

.select1 .select-div, .select1 .select,.select1 .select-ul,.select1 .select-ul>li{
    width: 200px;
}

.select1{
    margin-top: 30px;
}
.select2{
    margin-top: 30px;
}

.select-box{
    height: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#area-select{
    width: 128px;
    height: 30px;
}

#area-select li{
    width: 64px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #cdddf7;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0e94eb;
    box-sizing: border-box;
}
#area-select li.active{
    color: white;
    background: #0e94eb;
}

.city{
    display:none;
}

#data2{
    height: 100%;
}